<section>
    <div class="crm-section-6 about-us-section ptb-110">
        <div style="padding: 0px !important;" class="container-xxl">
           <div class="row crm-section-6-heading">
              <h5>Pricing</h5>
              <h2>Affordable pricing plans</h2>
              <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolorem iusto optio dolor nihil fugiat exercitationem.
              </p>
              <div class="bill-button-wrapper">
                 <div class="get-image">
                    <img src="/home/images/crm/get-free.png" alt="">
                 </div>
                 <div class="crm-section-6-bill-button ">
                    <h3>Billed yearly</h3>
                    <input checked="true" type="checkbox" class="switch"  id="price-toggle">
                    <h3>Billed Monthly</h3>
                 </div>
              </div>
           </div>
           <div class="row crm-section-6-price-table ">
              <div class=" row crm-price-table-1">
                 <div class="crm-price-table-1-card">
                    <div class="row crm-price-table-1-logo-section">
                       <div class="crm-price-table-1-logo">
                          <img src="/home/images/crm/price-logo-1.png" alt="">
                       </div>
                       <div class="crm-price-table-1-purpose">
                          <h3>
                             For individuals
                             <br>
                             <strong style="color:#170F49 ;">Basic</strong>
                          </h3>
                       </div>
                    </div>
                    <p class="crm-price-table-1-content" >
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="crm-price-table-1-price"  id="card1">
                       <h2 class="price">$99</h2>
                       <p>/monthly</p>
                    </div>
                    <p class="crm-price-table-1-price-title-2">
                       What's included
                    </p>
                    <ul class="crm-price-table-1-lists">
                       <li class="crm-price-table-1-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> All analytics features</span>
                       </li>
                       <li class="crm-price-table-1-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> Up to 250,000 tracked visits</span>
                       </li>
                       <li class="crm-price-table-1-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> Normal support</span>
                       </li>
                       <li class="crm-price-table-1-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> Up to 3 team members</span>
                       </li>
                    </ul>
                    <a href="#" class="crm-price-table-1-action">
                    Get started
                    </a>
                 </div>
              </div>
              <div class="row crm-price-table-2">
                 <div class="crm-price-table-2-card">
                    <div class="row crm-price-table-2-logo-section">
                       <div class="crm-price-table-2-logo">
                          <img src="/home/images/crm/price-logo-2.png" alt="">
                       </div>
                       <div class="crm-price-table-2-purpose">
                          <h3 style=" color: #fff;">
                             For startups
                             <br>
                             <strong style="color:#fff ;">Pro</strong>
                          </h3>
                       </div>
                    </div>
                    <p class="crm-price-table-2-content" style=" color: #fff;">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="crm-price-table-2-price"  id="card2">
                       <h2 class="price">$199</h2>
                       <p>/monthly</p>
                    </div>
                    <p class="crm-price-table-2-price-title-2">
                       What's included
                    </p>
                    <ul class="crm-price-table-2-lists">
                       <li class="crm-price-table-2-list">
                          <img src="/home/images/crm/Check Circle.png" alt="">
                          <span> All analytics features</span>
                       </li>
                       <li class="crm-price-table-2-list">
                          <img src="/home/images/crm/Check Circle.png" alt="">
                          <span> Up to 250,000 tracked visits</span>
                       </li>
                       <li class="crm-price-table-2-list">
                          <img src="/home/images/crm/Check Circle.png" alt="">
                          <span> Normal support</span>
                       </li>
                       <li class="crm-price-table-2-list">
                          <img src="/home/images/crm/Check Circle.png" alt="">
                          <span> Up to 3 team members</span>
                       </li>
                    </ul>
                    <a href="#" class="crm-price-table-2-action">
                    Get started
                    </a>
                 </div>
              </div>
              <div class="row crm-price-table-3">
                 <div class="crm-price-table-3-card">
                    <div class="row crm-price-table-3-logo-section">
                       <div class="crm-price-table-3-logo">
                          <img src="/home/images/crm/price-logo-3.png" alt="">
                       </div>
                       <div class="crm-price-table-3-purpose">
                          <h3>
                             For big companies
                             <br>
                             <strong style="color:#170F49 ;">Enterprise</strong>
                          </h3>
                       </div>
                    </div>
                    <p class="crm-price-table-3-content">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="crm-price-table-3-price"  id="card3">
                       <h2 class="price">$399</h2>
                       <p>/monthly</p>
                    </div>
                    <p class="crm-price-table-3-price-title-3">
                       What's included
                    </p>
                    <ul class="crm-price-table-3-lists">
                       <li class="crm-price-table-3-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> All analytics features</span>
                       </li>
                       <li class="crm-price-table-3-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> Up to 250,000 tracked visits</span>
                       </li>
                       <li class="crm-price-table-3-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> Normal support</span>
                       </li>
                       <li class="crm-price-table-3-list">
                          <img src="/home/images/crm/Check Circle Icon.png" alt="">
                          <span> Up to 3 team members</span>
                       </li>
                    </ul>
                    <a href="#" class="crm-price-table-3-action">
                    Get started
                    </a>
                 </div>
              </div>
           </div>
        </div>
     </div>
</section>