<div class="wrapper-card bg-light">
    <div class="card">
        <div class="card-title">
            <h3>Basic</h3>
            <h4>NRICH RECORDED PLAN</h4>
        </div>
        <div class="card-price">
            <h3>
                <!-- <sup>&dollar;</sup> -->
                ₹11,999/annum
            </h3>
        </div>
        <div class="card-description">
            <ul>
                <li>250 GB Storage</li>
                <li>Unlimited Students</li>
                <li>Research Analytics</li>
                <li>Recorded Lectures</li>
            </ul>
        </div>
    </div>
    <div class="card popular">
        <div class="card-ribbon">
            <span>most popular</span>
        </div>
        <div class="card-title">
            <h3>Pro</h3>
            <h4>NRICH LIVE PLAN</h4>
        </div>
        <div class="card-price">
            <h3>
                <!-- <sup>&dollar;</sup> -->
                ₹15,999/annum
            </h3>
        </div>
        <div class="card-description"> 
            <ul>
                <li>300 Students</li>
                <li>Webinars/Demo</li>
                <li>Two way Solution</li>
                <li>Assignments/Quiz</li>
            </ul>
        </div>
    </div>

</div>