<!-- footer Start -->
<section class="footer">
    <div class="container">
        <div class="row content-footer">
            <!-- <div class="col-lg-4">
                <div class="mb-4">
                    <a href="layout-4"><img src="assets/images/nrich_logo.png" alt="" class="logo-dark" height="56" /></a>
                    <p class="text-muted mt-4 mb-2">support@nrichlearning.com</p>
                    <h6 class="text-muted font-weight-normal"> +91 79425 30235</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="footer-list-title text-dark mb-3">Services</h6>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="">Digital Marketing</a></li>
                            <li><a href="">Business Analysis</a></li>
                            <li><a href="">How It Work</a></li>
                            <li><a href="">Fix & Flip</a></li>
                            <li><a href="">Social Activation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="footer-list-title text-dark mb-3">About Us</h6>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">FAQs</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="footer-list-title text-dark mb-3">Our Address</h6>
                        <p class="text-muted f-14">SCO 128-129, Sector - 8C,
                            Madhya Marg, Chandigarh - 160009</p>
                        <h6 class="text-muted pb-2">Email: support@nrichlearning.com</h6>
                        <ul class="list-unstyled footer-social-list mt-4">
                            <li class="list-inline-item"><a href="https://www.facebook.com/nrichlearning.edu/"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/nrich.learning/?hl=en"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/nrich-elearning-platform/mycompany/"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> -->

            <div class="made">
                Powered By Nrich Learning
            </div>
        </div>
    </div>
</section>
<!-- footer End -->